@import url('https://fonts.googleapis.com/css2?family=Explora&family=Montserrat:wght@200;300;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Explora&family=Montserrat:wght@200;300;500;600;700;800;900&family=Titan+One&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

@media only screen and (min-width: 968px) {
    .header-logo-image{
        width:250px
    }
}
.header-logo-image{
    width:200px
}
.menu-right-icons i{
    color: #000;
}
.menu-right-icons i:hover{
    color: #E05003;
}
.meddle-section img{
    max-width: 600px;
}
.banner-title{
    font-size: 60px;
    font-weight: 900;
}
.free-font {
    font-family: 'Explora', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Titan One', cursive;
}
.pad{
    text-align: right;

}
.menu-button-icons :hover{
    color: aqua;

}
.pad{
    text-align: left;

}
.justBetterImg .card img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.justBetterImg:hover .card img{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.justBetterImg .justBetterTitle{
    color: rgb(234, 234, 234);
}
.justBetterImg:hover .justBetterTitle{
    color: #E05003;
}
.db-best-title {
    font: normal normal 600 34px/51px AvenirNext-Bold;
    margin-bottom: 50px;
    margin-top: 0;
}
#db-bestsellers >div>div .heading-link h3 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 45px;
    font: normal normal 600 20px/27px AvenirNext-Bold;
    margin: 10px 0;
    color: #000;
    text-transform: capitalize;
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.w-60{
    width: 60%;
}
.cartimg:hover{
    text-decoration: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mouse {
    text-decoration: none;
}
.product-title{
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    min-height: 60px;
}
.product-img:hover{
    border:solid 1px rgb(86, 86, 86);

}
.cartbuy{
    display: block;
}
.cartbuy .bg-buy{
    background-color: #231f20;
}
.cartbuy:hover .bg-buy{
    background-color: #E05003;
}
.pad{
    padding-top: 100px;
}
.font-style{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.orange{
color: #e05002;
}
.top-30{
    top:30%;
}
.pading{
    padding-top: 100px;
}
.p-s-80{
    padding-left: 150px;
}
.p-100{
padding: 100px;
}
.none ul li {
    list-style: none;
    padding: 10px;
    color: #fff;
    
}
.none ul li a:hover{
color: #e05002;
}
.none ul li a{
    text-decoration: none;
    color: #fff;
}
.bg-footer{
    background-color: #231f20;
}


.footer-socialmedia-icons li{
    display: inline-block;
   
}
.footer-socialmedia-icons li a{
    text-decoration: none;
    display: block;
    background-color: #999;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
   
}
.footer-socialmedia-icons li a .fb{
    color: rgb(5, 5, 5);
}
.footer-socialmedia-icons li a:hover .fb{
    color: #030f5a;
}
.footer-socialmedia-icons li a .insta{
    color: #000
    }
 .footer-socialmedia-icons li a:hover .insta{
        color: #e05002;
    }
    .footer-socialmedia-icons li a:hover .twitter{
        color:#0d0dff;
    }
    .footer-socialmedia-icons li a .twitter{
        color:#000000;
    }
.mail  li a{
    text-decoration: none;
    color: #fff;
}
.mail  li {
    list-style: none;

}
.mail  li a:hover{
color: #e05002;
}
.w-30{
    width: 30%;
}
.sub-button{
    color: #fff;
    background-color: #000;
}
.sub-button:hover{
background-color: #e05002;
}
@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .header {
      display: flex;
      flex-direction: column;
    }
    .navigation {
      order: 1;
      width: 100%;
    }
  }
  